In [2]:
import sqlite3
import json
from datetime import datetime

In [13]:
timeframe = '2015-05'
sql_transaction = []

connection = sqlite3.connect('{}.db'.format(timeframe))
c = connection.cursor()
start_row = 0
cleanup = 1000000

In [3]:
connection

In [4]:
def create_table():
    c.execute("CREATE TABLE IF NOT EXISTS parent_reply(parent_id TEXT PRIMARY KEY, comment_id TEXT UNIQUE, parent TEXT, comment TEXT, subreddit TEXT, unix INT, score INT)")

In [5]:
def format_data(data):
    data = data.replace('\n',' newlinechar ').replace('\r',' newlinechar ').replace('"',"'")
    return data

In [6]:
def find_parent(pid):
    try:
        sql = "SELECT comment FROM parent_reply WHERE comment_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else: return False
    except Exception as e:
        #print(str(e))
        return False

In [7]:
def find_existing_score(pid):
    try:
        sql = "SELECT score FROM parent_reply WHERE parent_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else: return False
    except Exception as e:
        #print(str(e))
        return False

In [8]:
def acceptable(data):
    if len(data.split(' ')) > 50 or len(data) < 1:
        return False
    elif len(data) > 1000:
        return False
    elif data == '[deleted]':
        return False
    elif data == '[removed]':
        return False
    else:
        return True

In [19]:
def transaction_bldr(sql):
    global sql_transaction
    sql_transaction.append(sql)
    if len(sql_transaction) > 1000:
        c.execute('BEGIN TRANSACTION')
        for s in sql_transaction:
            try:
                c.execute(s)
            except:
                pass
        connection.commit()
        sql_transaction = []

In [15]:
def sql_insert_replace_comment(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """UPDATE parent_reply SET parent_id = ?, comment_id = ?, parent = ?, comment = ?, subreddit = ?, unix = ?, score = ? WHERE parent_id =?;""".format(parentid, commentid, parent, comment, subreddit, int(time), score, parentid)
        transaction_bldr(sql)
    except Exception as e:
        print('sql_insert_replace_comment s0 insertion',str(e))

In [17]:
def sql_insert_has_parent(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, parent, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}","{}",{},{});""".format(parentid, commentid, parent, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('sql_insert_has_parent s0 insertion',str(e))


def sql_insert_no_parent(commentid,parentid,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}",{},{});""".format(parentid, commentid, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('sql_insert_no_parent s0 insertion',str(e))

In [21]:
if __name__ == '__main__':
    create_table()
    row_counter = 0
    paired_rows = 0

    #with open('J:/chatdata/reddit_data/{}/RC_{}'.format(timeframe.split('-')[0],timeframe), buffering=1000) as f:
    with open('C:/Users/16101201/Desktop/RC_2015-01', buffering=1000) as f:
        for row in f:
            #print(row)
            #time.sleep(555)
            row_counter += 1

            if row_counter > start_row:
                try:
                    row = json.loads(row)
                    parent_id = row['parent_id'].split('_')[1]
                    body = format_data(row['body'])
                    created_utc = row['created_utc']
                    score = row['score']
                    
                    comment_id = row['id']
                    
                    subreddit = row['subreddit']
                    parent_data = find_parent(parent_id)
                    
                    existing_comment_score = find_existing_score(parent_id)
                    if existing_comment_score:
                        if score > existing_comment_score:
                            if acceptable(body):
                                sql_insert_replace_comment(comment_id,parent_id,parent_data,body,subreddit,created_utc,score)
                                
                    else:
                        if acceptable(body):
                            if parent_data:
                                if score >= 2:
                                    sql_insert_has_parent(comment_id,parent_id,parent_data,body,subreddit,created_utc,score)
                                    paired_rows += 1
                            else:
                                sql_insert_no_parent(comment_id,parent_id,body,subreddit,created_utc,score)
                except Exception as e:
                    print(str(e))
                            
            if row_counter % 100000 == 0:
                print('Total Rows Read: {}, Paired Rows: {}, Time: {}'.format(row_counter, paired_rows, str(datetime.now())))

            if row_counter > start_row:
                if row_counter % cleanup == 0:
                    print("Cleanin up!")
                    sql = "DELETE FROM parent_reply WHERE parent IS NULL"
                    c.execute(sql)
                    connection.commit()
                    c.execute("VACUUM")
                    connection.commit()

Total Rows Read: 100000, Paired Rows: 1, Time: 2019-07-09 14:26:25.231550
Total Rows Read: 200000, Paired Rows: 2, Time: 2019-07-09 14:26:35.771618
Total Rows Read: 300000, Paired Rows: 2, Time: 2019-07-09 14:26:46.370816
Total Rows Read: 400000, Paired Rows: 5676, Time: 2019-07-09 14:28:21.497603
Total Rows Read: 500000, Paired Rows: 12208, Time: 2019-07-09 14:30:47.566496
Total Rows Read: 600000, Paired Rows: 18051, Time: 2019-07-09 14:33:30.365757
Total Rows Read: 700000, Paired Rows: 23970, Time: 2019-07-09 14:35:53.489216
Total Rows Read: 800000, Paired Rows: 30541, Time: 2019-07-09 14:38:03.609751
Total Rows Read: 900000, Paired Rows: 37284, Time: 2019-07-09 14:40:29.428012
Total Rows Read: 1000000, Paired Rows: 44025, Time: 2019-07-09 14:42:34.632768
Cleanin up!
Total Rows Read: 1100000, Paired Rows: 49421, Time: 2019-07-09 14:44:09.418694
Total Rows Read: 1200000, Paired Rows: 55721, Time: 2019-07-09 14:45:58.346045
Total Rows Read: 1300000, Paired Rows: 62340, Time: 2019-07-09 14:48:03.310025
Total Rows Read: 1400000, Paired Rows: 68911, Time: 2019-07-09 14:50:12.734842
Total Rows Read: 1500000, Paired Rows: 75259, Time: 2019-07-09 14:52:06.854198
Total Rows Read: 1600000, Paired Rows: 81975, Time: 2019-07-09 14:54:00.542696
Total Rows Read: 1700000, Paired Rows: 88456, Time: 2019-07-09 14:55:51.163593
Total Rows Read: 1800000, Paired Rows: 94843, Time: 2019-07-09 14:57:39.766555
Total Rows Read: 1900000, Paired Rows: 100814, Time: 2019-07-09 14:59:29.502771
Total Rows Read: 2000000, Paired Rows: 107851, Time: 2019-07-09 15:01:23.049904
Cleanin up!
Total Rows Read: 2100000, Paired Rows: 112701, Time: 2019-07-09 15:02:50.575827
Total Rows Read: 2200000, Paired Rows: 118207, Time: 2019-07-09 15:03:55.390647
Total Rows Read: 2300000, Paired Rows: 124337, Time: 2019-07-09 15:05:01.410630
Total Rows Read: 2400000, Paired Rows: 130909, Time: 2019-07-09 15:06:10.643296
Total Rows Read: 2500000, Paired Rows: 137856, Time: 2019-07-09 15:07:20.277179
Total Rows Read: 2600000, Paired Rows: 145129, Time: 2019-07-09 15:08:38.575039
Total Rows Read: 2700000, Paired Rows: 152344, Time: 2019-07-09 15:09:58.041933
Total Rows Read: 2800000, Paired Rows: 159443, Time: 2019-07-09 15:11:22.514178
Total Rows Read: 2900000, Paired Rows: 166357, Time: 2019-07-09 15:12:48.027702
Total Rows Read: 3000000, Paired Rows: 173463, Time: 2019-07-09 15:14:19.099939
Cleanin up!
Total Rows Read: 3100000, Paired Rows: 179077, Time: 2019-07-09 15:15:41.947794
Total Rows Read: 3200000, Paired Rows: 185616, Time: 2019-07-09 15:17:04.345484
Total Rows Read: 3300000, Paired Rows: 192221, Time: 2019-07-09 15:18:28.215831
Total Rows Read: 3400000, Paired Rows: 198857, Time: 2019-07-09 15:20:02.197354
Total Rows Read: 3500000, Paired Rows: 205807, Time: 2019-07-09 15:21:46.839479
Total Rows Read: 3600000, Paired Rows: 212558, Time: 2019-07-09 15:23:45.302764
Total Rows Read: 3700000, Paired Rows: 219070, Time: 2019-07-09 15:25:47.085585
Total Rows Read: 3800000, Paired Rows: 225198, Time: 2019-07-09 15:27:58.063193
Total Rows Read: 3900000, Paired Rows: 231377, Time: 2019-07-09 15:30:12.346560
Total Rows Read: 4000000, Paired Rows: 237957, Time: 2019-07-09 15:32:19.972805
Cleanin up!
Total Rows Read: 4100000, Paired Rows: 243542, Time: 2019-07-09 15:33:43.553174
Total Rows Read: 4200000, Paired Rows: 250227, Time: 2019-07-09 15:34:39.727224
Total Rows Read: 4300000, Paired Rows: 257097, Time: 2019-07-09 15:35:38.350456
Total Rows Read: 4400000, Paired Rows: 264036, Time: 2019-07-09 15:36:38.751596
Total Rows Read: 4500000, Paired Rows: 270734, Time: 2019-07-09 15:37:40.505628
Total Rows Read: 4600000, Paired Rows: 277421, Time: 2019-07-09 15:38:48.166048
Total Rows Read: 4700000, Paired Rows: 283853, Time: 2019-07-09 15:39:54.722221
Total Rows Read: 4800000, Paired Rows: 290963, Time: 2019-07-09 15:41:06.157810
Total Rows Read: 4900000, Paired Rows: 297882, Time: 2019-07-09 15:42:23.267691
Total Rows Read: 5000000, Paired Rows: 304429, Time: 2019-07-09 15:43:36.828842
Cleanin up!
Total Rows Read: 5100000, Paired Rows: 310080, Time: 2019-07-09 15:45:00.291818
Total Rows Read: 5200000, Paired Rows: 316581, Time: 2019-07-09 15:46:14.589299
Total Rows Read: 5300000, Paired Rows: 322995, Time: 2019-07-09 15:47:43.304913
Total Rows Read: 5400000, Paired Rows: 329029, Time: 2019-07-09 15:49:38.190943
Total Rows Read: 5500000, Paired Rows: 335226, Time: 2019-07-09 15:51:29.744662
Total Rows Read: 5600000, Paired Rows: 341712, Time: 2019-07-09 15:53:25.333649
Total Rows Read: 5700000, Paired Rows: 348410, Time: 2019-07-09 15:55:18.751779
Total Rows Read: 5800000, Paired Rows: 355187, Time: 2019-07-09 15:57:01.297626
Total Rows Read: 5900000, Paired Rows: 362015, Time: 2019-07-09 15:58:53.094398
Total Rows Read: 6000000, Paired Rows: 368864, Time: 2019-07-09 16:00:33.725779
Cleanin up!
Total Rows Read: 6100000, Paired Rows: 374362, Time: 2019-07-09 16:02:40.736962
Total Rows Read: 6200000, Paired Rows: 380395, Time: 2019-07-09 16:04:23.455251
Total Rows Read: 6300000, Paired Rows: 386642, Time: 2019-07-09 16:06:21.187312
Total Rows Read: 6400000, Paired Rows: 392617, Time: 2019-07-09 16:08:36.864277
Total Rows Read: 6500000, Paired Rows: 399755, Time: 2019-07-09 16:10:51.770464
Total Rows Read: 6600000, Paired Rows: 406956, Time: 2019-07-09 16:13:20.288294
Total Rows Read: 6700000, Paired Rows: 414173, Time: 2019-07-09 16:15:41.931570
Total Rows Read: 6800000, Paired Rows: 421259, Time: 2019-07-09 16:18:10.822915
Total Rows Read: 6900000, Paired Rows: 428260, Time: 2019-07-09 16:20:39.055849
Total Rows Read: 7000000, Paired Rows: 434609, Time: 2019-07-09 16:23:06.291378
Cleanin up!
Total Rows Read: 7100000, Paired Rows: 439689, Time: 2019-07-09 16:25:24.663548
Total Rows Read: 7200000, Paired Rows: 445767, Time: 2019-07-09 16:27:25.812727
Total Rows Read: 7300000, Paired Rows: 452306, Time: 2019-07-09 16:29:45.568489
Total Rows Read: 7400000, Paired Rows: 459250, Time: 2019-07-09 16:32:04.686589
Total Rows Read: 7500000, Paired Rows: 466400, Time: 2019-07-09 16:34:30.310943
Total Rows Read: 7600000, Paired Rows: 473798, Time: 2019-07-09 16:36:35.263349
Total Rows Read: 7700000, Paired Rows: 480639, Time: 2019-07-09 16:38:52.000545
Total Rows Read: 7800000, Paired Rows: 487254, Time: 2019-07-09 16:41:12.494057
Total Rows Read: 7900000, Paired Rows: 494566, Time: 2019-07-09 16:43:25.459760
Total Rows Read: 8000000, Paired Rows: 501706, Time: 2019-07-09 16:45:39.571801
Cleanin up!
Total Rows Read: 8100000, Paired Rows: 507177, Time: 2019-07-09 16:47:49.006402
Total Rows Read: 8200000, Paired Rows: 513665, Time: 2019-07-09 16:49:53.761597
Total Rows Read: 8300000, Paired Rows: 519921, Time: 2019-07-09 16:52:14.204495
Total Rows Read: 8400000, Paired Rows: 526394, Time: 2019-07-09 16:55:03.044017
Total Rows Read: 8500000, Paired Rows: 532959, Time: 2019-07-09 16:57:47.232776
Total Rows Read: 8600000, Paired Rows: 539722, Time: 2019-07-09 17:00:57.407680
Total Rows Read: 8700000, Paired Rows: 546121, Time: 2019-07-09 17:04:03.880440
Total Rows Read: 8800000, Paired Rows: 552326, Time: 2019-07-09 17:06:40.305720
Total Rows Read: 8900000, Paired Rows: 558644, Time: 2019-07-09 17:09:12.853290
Total Rows Read: 9000000, Paired Rows: 565362, Time: 2019-07-09 17:11:39.068972
Cleanin up!
Total Rows Read: 9100000, Paired Rows: 570776, Time: 2019-07-09 17:13:32.319945

KeyboardInterrupt: